<section class="flex flex-col md:flex-row gap-x-8 justify-center items-center">
    <div class="[&>p]:mb-4 [&>p>strong]:text-green-400 order-2 md:order-1">
        <p>
            ¡Hola! Soy Rebeca, una profesional con 25 años. Mi trayectoria
            comenzó con un Grado Medio en Auxiliar de Enfermería y un Grado
            Superior en Integración Social, donde desarrollé habilidades como la
            empatía, la organización y el trabajo en equipo.
        </p>

        <p>
            Recientemente, decidí dar un giro a mi carrera, reconvirtiendo mi
            trayectoria profesional al área de programación. Para ello, realicé
            un <strong>Bootcamp</strong> en <em class="italic"
                >Ubiqum Academy</em
            > y completé un curso intensivo de <strong
                >Full Stack Developer</strong
            > en la <em class="italic">Cámara de Comercio de Madrid.</em>
        </p>

        <p>
            Desde entonces, he estado enfocada en el desarrollo usando
            tecnologías como <strong>HTML, CSS, JavaScript, PHP,</strong> entre otras.
            Ya que mi objetivo es unir la programación junto con el diseño web dando
            lugar a experiencias digitales creativas y únicas.
        </p>
    </div>
    <img src="img/me.jpeg" alt="Rebeca" class="rounded-full size-64 order-1 md:order-2 mb-3"> 
</section>
