---
import CoursesItem from "./CoursesItem.astro";

const COURSES = [
    {
        date: "Marzo 2023 - Junio 2023",
        title: "Full Stack Developer",
        from: "C치mara de Comercio, Madrid",
        description:
            "Formaci칩n en lenguajes de programaci칩n: HTML, CSS, JavaScript, MySql, PHP y Java.",
        link: "https://cursos-formacion.camaramadrid.es/",
    },
    {
        date: "Enero 2023 - Marzo 2023",
        title: "Bootcamp",
        from: "Ubiqum Academy",
        description: 
        "Formaci칩n en HTML y CSS.",
    },
];
---

<ol class="relative border-s border-gray-200 ml-3.5">
    {
        COURSES.map((courses) => (
            <li class="mb-10 ms-4">
                <CoursesItem {...courses} />
            </li>
        ))
    }
</ol>
